---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
$sub-font: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$mega-font-size: 46px;
$h1-font-size: 36px;
$h2-font-size: 24px;
$h3-font-size: 18px;
$h4-font-size: 16px;

$spacing-unit:     1.4em;

$text-color:       #797979;
$background-color: #FDFDFD;
$brand-color:      #797979;
$yellow-color:     #f9f9a7;
$red-color:        #f9a7a7;
$purple-color:     #a7a7f9;
$grey-color:       #eeeeef;
$grey-color-light: #eeeeee;
$grey-color-dark:  #9b9b9b;
$light-blue-color: #a7d0f9;
$blue-color:       #3466a1;
$white: #606060;

// Instagram Variables
$padding: 15px;
$margin: 15px;

// Width of the content area
$content-width:    1600px;
$on-palm:          600px;
$on-laptop:        1200px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"post",
        "base",
        "layout",
        "syntax-highlighting",
        "components/gradient-bar",
        "components/project",
        "components/ability",
        "../bower_components/hover/scss/hover"
;

.instagram-wrap {
    background: #fff;
    margin-top: $spacing-unit;
}

.instagram-content {
    h3 {
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        padding: $padding*5 0;
        color: darken($grey-color-light, 20%);
    }
}
.photo-box {
        margin: 0 0 $margin*4 0;

        .image-wrap {
            img {
                width: 100%;
            }

            .likes {
                position: absolute;
                bottom: 5px;
                left: 15px;
                padding: $padding/2;
                background-color: $background-color;
                color: $white;
            }
        }
        .description {
            font-family: $sub-font;
            font-size: 12px;
            background: $white;
            color: white;
            letter-spacing: 1px;
            padding: $padding*1.5;
            height: 75px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: $spacing-unit;
        }
    }