---
layout: default
---

<div class="home">

 <!-- section for featured post -->
 <!-- section for featured projects -->
<section class="site-section">
<h1>featured projects</h1>
<ul class="project-list">
{% for project in site.categories['project'] reversed | limit: 3 %}
{% include project.html %}
  
{% endfor %}
</ul>
</section>

 <!-- section for latest articles -->
 <section class="site-section site-section-last">
  
  <div class="wrapper">
    <h1>latest articles</h1>
    <ul class="post-list">
      {% for post in site.categories['blog'] %}
      <li class="post">
        {% include post.html %}
      </li>
      {% endfor %}
    </ul>
  </div>

 </section>

</div>

<body onload="init();">
  <canvas id="demoCanvas" width="500" height="300"></canvas>
</body>

<script>
  function init() {
   var stage = new createjs.Stage("demoCanvas");
    var circle = new createjs.Shape();
    circle.graphics.beginFill("DeepSkyBlue").drawCircle(0, 0, 50);
    circle.x = 100;
    circle.y = 100;
    stage.addChild(circle);
    stage.update();
  }
</script>
