---
layout: default
title: Portfolio
permalink: /Portfolio/
---

<div class="site-section site-section-last">
<div class="post-header">
		<h1>Portfolio</h1>
	</div>
	<ul class="project-list">
		{% for project in site.categories['project'] %}
			<li class="project">
				{% include project.html %}
			</li>
		{% endfor %}
	</ul>
	<h2 class="align-center site-reveal">Clients</h2>
		<div class="logo-container nascar">
			<div class="flex-logo site-reveal">
				<div class="hovereffect">
					<img class="img-center" src="/images/dofundLogo.png">
					<div class="overlay">
						<h5>The Doe Fund</h5>
						<div class="info">
							<h4>
								To solve homelessness for a night, you need shelter. To solve it for good, you need work.
							</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-logo site-reveal">
				<div class="hovereffect">
					<img class="img-center" src="/images/BiscayneBayLogo.png">
					<div class="overlay">
						<h5>Miami WaterKeeper</h5>
						<div class="info">
							<h4>
								Our mission is to protect South Florida’s watershed.
							</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-logo site-reveal">
				<div class="hovereffect">
					<img class="img-center" src="/images/hopeLogo.jpg">
					<div class="overlay">
						<h5>Hope Through Health</h5>
						<div class="info">
							<h4>
								Everyone deserves high-quality health care regardless of their birthplace.
							</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-logo site-reveal">
				<div class="hovereffect">
					<img class="img-center" src="/images/artIsLogo.png">
					<div class="overlay">
						<h5>Art is for All</h5>
						<div class="info">
							<h4>
								We strive to give a variety of visual arts opportunities to adults in the Leavenworth area.
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
