<header class="headroom" id="main-header" role="banner">
	<div class="nameAndMenu">
		<h1><span class="thicker">Jonathan</span> Root</h1>
		<div class="menuDrop">Menu</div>
	</div>
	<nav role="navigation" id="sticker" class="site-nav">
	  	<ul class="menu">
	    	{% for link in site.links %}
	      	<li class="hvr-grow"><a href="{{ link.url }}">{{ link.title }}</a></li>
	    	{% endfor %}
	  	</ul>
	</nav>
</header>
<div class="parallax">
	<div class="title">
		<div class="logo">
			<h1><a href="/">Mobile Web Developer</h1>
		</div>
	</div>
</div>
