.site-header {
    background-color: #f9fef3;
    background-size:2400px 2800px;
    text-align:center;

       a:link {
     text-decoration: none;

 }
    h1 {
        font-weight: bold;
    }
}


.site-nav {
    text-align:center;
    background-color: #f3f3fe;
    ul { list-style:none; }
    li {
        display:inline-block;
        margin:0.5em;
        font-size:1.875em;
    }
}

.site-section {
    @extend %clearfix;
    padding-top:$h3-font-size;
    background-color: #fef3f3;
}
.site-section-last {
    padding-bottom:$h1-font-size;
}

.site-footer {
    padding:2em 0;
    color:#fff;
    background:#f3fef4;
}
.footer-content {
    float:left;
    width:40%;
    font-size:0.875em;

    h5 {
        text-align:left;
    }
}
.footer-social {
    float:right;
    li {
        display:inline-block;
        margin:0 0.5em;
    }
}