header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  height: auto;
  z-index: 100;
  border-top: 0;
  background-color: transparent;
  transition: all 0.1s ease-in-out;
}
header.active {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0,   0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0,   0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0,     0.25);
}
.parallax {
  [class*="logo"] {
    position : relative;
    height : 100%;
    background-attachment : fixed;
    background-position   : top center;
    background-size       : cover;
    &:nth-child( 2n ) {
      box-shadow : inset 0 0 1em #111; 
    }
  }
}
.logo {
    background: url('/images/square_bg.png');
    background-size: 400px 400px;
    border-bottom: 1px solid #EAEBEB;
    text-align: center;
    margin-top: 4em;
    padding-top: 1em;

a:link {
     text-decoration: none;
 }

h1 {
      font-weight: bold;
      text-shadow: 1px 1px #989f9f;
      font-size: $mega-font-size;
    }
}

.site-nav {
    text-align: center;
    ul {
        list-style: none;
        margin-bottom:  0;
    }
    li {
        display: inline-block;
        margin: .65em;
        font-size: 1.5em;
    }
}

.project-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.project-item {
  padding: 2rem;
  flex: 1 100%;
}

.logo-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-logo {
  max-width: 100%;
  height: 100%;
}

.align-project-image, .align-center {
  text-align: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.site-section {
    @extend %clearfix;
    background-color: #FDFDFD;
    .site-section h1 {
    margin: $spacing-unit;
    }
}

.site-section-last {
    padding-bottom: $h1-font-size;
    padding-left: 0 1em;
}

.site-footer {
    padding: 2em 0;
    color: #fff;
    background: #f3fef4;
}

.footer-content {
    float: left;
    width: 40%;
    font-size: 0.875em;
    padding-top: 18px;

    h4 {
        text-align:left;
        color: $brand-color;
    }
}

.footer-social {
    float:right;
    li {
        display: inline-block;
        margin: 0 0.5em;
    }
}

@media (max-width: 499px) {
.site-header {
    background-color: #fefef3;
    background-size:2400px 2800px;
    border-bottom: 1px solid #EAEBEB;
    text-align: center;
    padding-top: 1em;
    a:link {
     text-decoration: none;
 }
    h1 {
        font-weight: bold;
        text-shadow: 1px 1px #989f9f;
        font-size: 22px;
    }
}
.site-nav {
    text-align: center;
    ul {
      list-style: none;
    }
    li {
        display: inline-block;
        margin: 0.25;
        font-size: 1em;
        }
    }
}

@media (min-width: 768px) {
.project-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.project-item {
  padding: .5rem;
  flex: 1 2 50%;
}
}