.project-list {
	padding: 0;
	list-style: none;
}
.project {
	width: 33.33%;
	text-align: center;
	padding: 0 1em;
}
.project-caption {
	margin-top: 0.5em;
	font-size: $h3-font-size;
}

@media (max-width: 1000px) {
	ul.project-list {
		list-style: none;
		img {
			max-width: 100%;
			margin: 0 auto;
		}
	}
 .project {
 	width: 100%;
 	text-align: center;
 }
}