.project-list {
	@extend %clearfix;
	padding-left: .125em;
	padding-right: .125em;
	list-style:none;
}
.project {
	float: left;
	max-width: 30%;
	padding: 0 .5em;
	text-align:center;
}
.project-caption {
	margin-top:0.5em;
	font-size:$h3-font-size;
}