---
layout: default
comments: true
---
<article class="site-section site-section-last">

	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">
			posted on
			{{ page.date | date: "%b %-d, %Y" }}
			{% if page.author %} • by {{ page.author }}{% endif %}
			{% if page.meta %} • {{ page.meta }}{% endif %}
		</p>

		{% if page.featured_image %}
			<div class="post-image">
				<img src="{{ site.baseurl }}{{ page.featured_image }}" alt="featured image" >
			</div>
		{% endif %}
	</header>

	<div class="post-body">
		{{ content }}
	</div>
		{% if page.comments %}

		<div id="disqus_thread" class="comments"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'httpwwwjonathanrootdesigncom';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

		{% endif %}

</article>
