---
layout: default
comments: true
---
		<article role="article" class="site-section site-section-last row">
			<div class="post-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="post-title">{{ page.title }}</h1>
				<p class="post-meta">
					posted on
					{{ page.date | date: "%b %-d, %Y" }}
					{% if page.author %} • by {{ page.author }}{% endif %}
					{% if page.meta %} • {{ page.meta }}{% endif %}
				</p>
		</article>
		<div class="post-body">
			{{ content }}
		</div>
		{% if page.comments %}
		{% endif %}
			{% if page.lead_image %}
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
				<img src="{{ site.baseurl }}{{ page.lead_image }}" alt="lead image">
			</div>
		{% endif %}

